---
import Layout from "@/layouts/Layout.astro";
import SectionWrapper from "@/components/section-wrapper.astro";
import SectionTitle from "@/components/section-title.astro";

import Separator from "@/components/separator.astro";
import Badge from "@/components/badge.astro";
import Button from "@/components/button.astro";
import ThemeToggle from "@/components/theme-toggle.astro";

// icons
import BriefcaseIcon from "@/icons/briefcase-icon.astro";
import CalendarIcon from "@/icons/calendar-icon.astro";
import ChevronIcon from "@/icons/chevron-icon.astro";
import CodeIcon from "@/icons/code-icon.astro";
import GithubIcon from "@/icons/github-icon.astro";
import GithubOutlineIcon from "@/icons/github-outline-icon.astro";
import LinkIcon from "@/icons/link-icon.astro";
import LinkedinIcon from "@/icons/linkedin-icon.astro";
import MoonIcon from "@/icons/moon-icon.astro";
import PostsIcon from "@/icons/posts-icon.astro";
import SunIcon from "@/icons/sun-icon.astro";
import AstroIcon from "@/icons/tags-icons/astro-icon.astro";
import NextjsIcon from "@/icons/tags-icons/nextjs-icon.astro";
import ReactIcon from "@/icons/tags-icons/react-icon.astro";
import TailwindIcon from "@/icons/tags-icons/tailwind-icon.astro";
import TopRightIcon from "@/icons/top-right-icon.astro";
---

<Layout title="Design System">
  <main>
    <SectionWrapper className="flex flex-col">
      <SectionTitle className="text-2xl">&lt;Button /&gt;</SectionTitle>

      <div class="flex gap-4">
        <Button>Button</Button>
        <Button><GithubIcon class="size-5" />Button</Button>
      </div>

      <Separator />

      <SectionTitle className="text-2xl">&lt;Badge /&gt;</SectionTitle>

      <div class="flex gap-4">
        <Badge variant="tag">Badge</Badge>
        <Badge variant="project" techColors="bg-[#5D16A1] text-white"
          ><AstroIcon class="size-3" /> Badge</Badge
        >
        <Badge variant="post"><CalendarIcon class="size-3" /> Badge</Badge>
      </div>

      <Separator />

      <SectionTitle className="text-2xl">&lt;SectionTitle /&gt;</SectionTitle>

      <SectionTitle>SectionTitle</SectionTitle>

      <Separator />

      <SectionTitle className="text-2xl">&lt;Icons /&gt;</SectionTitle>

      <div class="flex flex-col gap-6 ml-10">
        <div class="flex flex-col gap-2">
          <span>Techs</span>
          <div class="flex gap-4">
            <AstroIcon class="size-6" />
            <NextjsIcon class="size-6" />
            <ReactIcon class="size-6" />
            <TailwindIcon class="size-6" />
          </div>
        </div>

        <span class="w-96 h-px bg-muted"></span>

        <div class="flex flex-col gap-2">
          <span>Brands</span>
          <div class="flex gap-4">
            <GithubIcon class="size-6" />
            <GithubOutlineIcon class="size-6" />
            <LinkedinIcon class="size-6" />
          </div>
        </div>

        <span class="w-96 h-px bg-muted"></span>

        <div class="flex flex-col gap-2">
          <span>ThemeToggle</span>
          <div class="flex gap-4">
            <MoonIcon class="size-6" />
            <SunIcon class="size-6" />
          </div>
        </div>

        <span class="w-96 h-px bg-muted"></span>

        <div class="flex flex-col gap-2">
          <span>Other</span>
          <div class="flex gap-4">
            <BriefcaseIcon class="size-6" />
            <CalendarIcon class="size-6" />
            <ChevronIcon class="size-6" />
            <CodeIcon class="size-6" />
            <LinkIcon class="size-6" />
            <PostsIcon class="size-6" />
            <TopRightIcon class="size-6" />
          </div>
        </div>
      </div>

      <Separator />

      <SectionTitle className="text-2xl">&lt;ThemeToggle /&gt;</SectionTitle>

      <section class="flex items-center gap-6">
        <ThemeToggle />
      </section>
    </SectionWrapper>
  </main>
</Layout>
