---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import Badge from "../components/Badge.astro";
import Pill from "../components/Pill.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";

import CodeIcon from "../icons/Code.astro";
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import UserCode from "../icons/UserCode.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Layout title="Santi's Portfolio - Frontend Web Developer.">
	<main class="wrapper">
		<SectionContainer id="top">
			<div class="flex items-center gap-4">
				<img
					src="https://avatars.githubusercontent.com/u/88351679?v=4"
					alt=""
					class="rounded-full size-16 mb-2"
				/>

				<a
					href="https://www.linkedin.com/in/santiago-federici/"
					target="_blank"
					rel="noopener noreferrer"
				>
					<Badge>Ready to work</Badge>
				</a>
			</div>

			<h1 class="font-bold mb-4 max-sm:text-4xl">Hey, I'm Santi!</h1>
			<h3 class="w-9/12 text-pretty max-sm:text-lg max-sm:leading-5 opacity-80">
				Trainee Frontend Web Developer from Mendoza, Argentina 🇦🇷. Currently studying at the university of Champagnat.
			</h3>

			<ul class="flex gap-2 mt-4">
				<Pill href="https://github.com/santiago-federici">
					<GithubIcon class="size-4" />
					Github
				</Pill>
				<Pill href="https://www.linkedin.com/in/santiago-federici/">
					<LinkedInIcon class="size-4" />
					LinkedIn
				</Pill>
			</ul>
		</SectionContainer>

		<SectionContainer id="projects">
			<SectionTitle>
				<CodeIcon class="size-6" />
				Projects
			</SectionTitle>

			<Projects />
		</SectionContainer>

		<SectionContainer id="about">
			<SectionTitle>
				<UserCode class="size-6" />
				About Me
			</SectionTitle>

			<AboutMe />
		</SectionContainer>
	</main>
</Layout>