---
import Layout from "@/layouts/Layout.astro";
import IntroCircle from "@/components/intro-circle";
import HeroSection from "@/sections/hero-section.astro";
import ProjectsSection from "@/sections/projects-section.astro";
---

<Layout title="Santiago Federici - Portfolio">
  <main class="flex flex-col gap-20">
    <IntroCircle client:only="react" />

    <HeroSection />

    <ProjectsSection />
  </main>
</Layout>
