---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/sections/hero-section.astro";
import ExperienceSection from "@/sections/experience-section.astro";
import ProjectsSection from "@/sections/projects-section.astro";
import PostsSection from "@/sections/posts-section.astro";
---

<Layout title="Santiago Federici - Portfolio">
  <main class="flex flex-col gap-40">
    <HeroSection />

    <ExperienceSection />

    <ProjectsSection />

    <PostsSection />
  </main>
</Layout>
