---
import SectionWrapper from "@/components/section-wrapper.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Santiago Federici - Portfolio">
  <main class="flex flex-col gap-80 py-20">
    <SectionWrapper>
      <h1>test</h1>
    </SectionWrapper>
  </main>
</Layout>
