---
import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<button
  class={cn(
    "hover:text-primary/60 text-primary font-medium text-lg flex items-center gap-1 w-fit duration-100",
    className
  )}
>
  <slot />
</button>
