<header class='flex justify-between py-3 sticky top-2 z-50 max-sm:text-sm'>  
  <nav class='flex gap-x-6 bg-gray-800 rounded-full px-4 py-1 '>
    <a href="/#top">Home</a>
    <a href="/#projects">Projects</a>
    <a href="/#about">About</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>

<style>
  nav {
    box-shadow: 0 0 20px 1px rgba(0 0 0 / .5);
  }
</style>