<header class='flex justify-between py-3 sticky top-2 z-50 max-sm:text-sm text-white'>  
  <nav class='flex gap-x-6 bg-gray-800 rounded-full px-4 py-1 text'>
    <a class='hover:text-pink-400' href="/#top">Home</a>
    <a class='hover:text-pink-400' href="/#projects">Projects</a>
    <a class='hover:text-pink-400' href="/#about">About</a>
    <a class='hover:text-pink-400' href="mailto:santiagofederici88@gmail.com">Contact</a>
  </nav>
</header>

<style>
  nav {
    box-shadow: 0 0 20px 1px rgba(0 0 0 / .5);
  }
</style>