<header class='flex justify-between py-3'>  
  <nav class='flex gap-x-6'>
    <a href="#top">Home</a>
    <a href="#projects">Projects</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </nav>
</header>