<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="flex text-sm font-medium gap-1 items-center 
  rounded-full bg-[--bg-pill] text-[--clr-text] px-3 py-1 
  border border-slate-500 hover:opacity-80"
>
  <slot />
</a>