---
const { href } = Astro.props
---

<a 
href={href}
target="_blank"
rel="noopener noreferrer"
class='flex gap-1 items-center border border-1 border-slate-500 
w-fit px-2 py-1 rounded bg-[--bg-pill] cursor-pointer text-[--clr-text]
hover:opacity-70'>
  <slot />
</a>