---
import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<span
  class={cn(
    "font-light flex gap-1 items-center rounded-md text-sm px-2 py-1 w-fit",
    className
  )}
>
  <slot />
</span>
