---
import DesktopNavbar from "@/components/navbar/desktop-navbar.astro";
---

<footer class="wrapper flex items-center justify-between pb-8 text-sm">
  <p>© 2024 - Santiago Federici</p>

  <DesktopNavbar className="size-5" />

  <p class="md:hidden">Porfolio</p>
</footer>
