---
import DesktopNavbar from "@/components/navbar/desktop-navbar.astro";
import { cn, baseAnimation } from "@/lib/utils";
---

<footer
  class={cn(
    "wrapper flex items-center justify-between pb-8 text-sm",
    baseAnimation
  )}
>
  <p>© 2024 - Santiago Federici</p>

  <DesktopNavbar className="size-5" />

  <p class="md:hidden">Porfolio</p>
</footer>
