---
import DesktopNavbar from "@/components/navbar/desktop-navbar.astro";
import MobileNavbar from "@/components/navbar/mobile-navbar.astro";
import ThemeToggle from "@/components/theme-toggle.astro";
---

<script>
  const trigger = document.querySelector(".context-menu-trigger");

  trigger?.addEventListener("contextmenu", (e) => {
    e.preventDefault();
    window.location.replace("/design-system");
  });
</script>

<header
  class="fixed w-full top-0 z-50 backdrop-blur-sm bg-background/95 h-[77px]"
>
  <div class="wrapper flex items-center justify-between py-4 h-full w-full">
    <h1
      class="context-menu-trigger text-xl font-semibold hover:text-primary duration-200"
    >
      <a href="/">Portfolio</a>
    </h1>

    <section class="flex items-center gap-6">
      <ThemeToggle />

      <DesktopNavbar />

      <MobileNavbar />
    </section>
  </div>
</header>
