---
import DesktopNavbar from "@/components/navbar/desktop-navbar.astro";
import MobileNavbar from "@/components/navbar/mobile-navbar.astro";
import ThemeToggle from "@/components/theme-toggle.astro";
---

<script>
  import { animate } from "motion";

  const pathname = window.location.pathname;
  const isHome = pathname === "/";

  const header = document.querySelectorAll(".custom-header");

  const storage = window.localStorage;
  const currTimestamp = Date.now();
  const timestamp = JSON.parse(storage.getItem("timestamp") || "1000");

  const timeLimit = 60 * 60 * 1000; // 1 hour

  const hasTimePassed = currTimestamp - timestamp > timeLimit;

  if (isHome && hasTimePassed) {
    animate(header, { opacity: [0, 1] }, { delay: 1.6, duration: 0.6 });
  }
</script>

<header
  class="custom-header fixed w-full top-0 mx-auto z-50 backdrop-blur-sm bg-background/95"
>
  <div class="wrapper flex items-center justify-between py-4">
    <h1 class="text-xl font-semibold hover:text-primary duration-200">
      <a href="/">Portfolio</a>
    </h1>

    <section class="flex items-center gap-6">
      <ThemeToggle />

      <DesktopNavbar />

      <MobileNavbar />
    </section>
  </div>
</header>
