---
import SectionWrapper from "@/components/section-wrapper.astro";
---

<SectionWrapper
  className="flex flex-col md:flex-row justify-between items-center gap-10"
>
  <div class="flex flex-col max-md:justify-center max-md:text-center">
    <h2
      class="text-4xl md:text-5xl lg:text-6xl font-bold md:max-w-[15ch] mb-2 md:mb-4 lg:mb-6 dark:select-none"
    >
      I develop beautiful <span
        class="dark:bg-gradient-to-r dark:from-white dark:to-primary dark:text-transparent dark:bg-clip-text"
      >
        web applications
      </span>
    </h2>

    <p
      class="text-muted-foreground md:text-lg lg:text-xl max-md:mx-auto max-w-[40ch]"
    >
      I'm <span class="font-semibold">Santi</span>, a Frontend Developer from
      Mendoza, Argentina with +1 year of experience.
    </p>
  </div>

  <picture
    class="h-full max-md:max-h-80 md:h-[280px] lg:h-[320px] aspect-[788/805] rounded-full overflow-hidden drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] dark:drop-shadow-[0_5px_5px_rgba(250,204,21,0.2)]"
  >
    <source srcset="/me.webp" type="image/webp" />
    <img
      src="/me.webp"
      alt="Imagen de fondo"
      class="object-cover w-full h-full"
      width="408"
      height="417"
    />
  </picture>
</SectionWrapper>
