---
import Header from "@/sections/header.astro";
import Footer from "@/sections/footer.astro";

import "@fontsource-variable/onest";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Script to set theme preference -->
    <script is:inline>
      if (typeof localStorage !== "undefined") {
        const LOCAL_THEME = localStorage.getItem("theme");
        document.documentElement.classList.add(LOCAL_THEME);
      }
    </script>
  </head>
  <body class="font-onest">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
